

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.App form {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size: 36px;
  text-align: center;
}

.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 120px;
  background: white;
  border-radius: 10px;
  margin-bottom: 15px;
}

.decks li button {
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
  background-color: white;
  color: black;
}

