
.Login {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .Login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }  

  .title {
    font-size: 36px;
    font-weight: bold;
  }
